html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #283645;
}
html h2,
body h2,
html p,
body p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
body {
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.inner {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 2%;
  /* 0 20 */
  /*     border: 1px solid red; */
}
main {
  padding: 45px 0;
  padding-bottom: 0;
}
.page-header {
  padding-bottom: 35px;
}
.page-header__left-column {
  width: 310px;
  margin-top: 90px;
}
.features {
  margin-bottom: 100px;
}
.features__right-column {
  float: right;
  width: 50%;
  /* 350 */
  margin-top: 40px;
}
.features__left-column {
  width: 38.5%;
  /* 270 */
  float: left;
  height: 460px;
}
.features__left-column img {
  max-width: 100%;
}
.effect__left-column {
  float: left;
  width: 38.5%;
  height: auto;
}
.effect__left-column img {
  max-width: 100%;
}
.effect__right-column {
  float: right;
  width: 50%;
  /* 310 */
}
.page-footer__telephone,
.page-footer__email {
  display: inline-block;
}
.page-header {
  background-image: url('/pink/img/main-bg-all-700.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #1d2631;
  /*  background-size: contain; */
  color: white;
  padding-bottom: 100px;
}
.page-header__menu {
  padding: 40px 0;
  background: url("/pink/img/main-top_bg700_opacity.png") no-repeat 50% 0;
}
.page-header a {
  display: block;
}
.page-header .logo {
  float: left;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 65px;
  background: url("/pink/img/glasses-simple@1x.png") no-repeat 0 0;
}
.page-header .logo ~ a {
  float: right;
  width: 50px;
  height: 4px;
  background-color: white;
  position: relative;
  margin-top: 3px;
}
.page-header .logo ~ a:after {
  content: '';
  width: 50px;
  height: 4px;
  background: white;
  position: absolute;
  top: 10px;
}
.page-header .logo ~ a:before {
  content: '';
  width: 50px;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 20px;
}
.page-header .title {
  padding: 0 35px;
  /* 35 */
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-shadow: 1px 1px 0 #283645;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 60px;
}
.page-header .btn {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  display: block;
  padding: 15px 35px;
  border: 3px solid white;
  border-radius: 30px;
  margin-bottom: 30px;
}
.page-header .support {
  text-align: center;
  margin-bottom: 25px;
}
.page-header .support img {
  margin-right: 35px;
}
.page-header .support img:last-child {
  margin-right: 0;
}
.page-header p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
main > .inner > p:first-child,
main > .inner > p:nth-child(2) {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}
.features {
  background: url('/pink/img/main-bg-gray-oblique.png') no-repeat 0 20px;
  margin-top: 50px;
  text-align: left;
}
.features__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.features__content {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}
.features__img_2 {
  display: none;
}
.effect h2 {
  width: 180px;
  /* 180 */
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}
.effect p {
  font-size: 14px;
  line-height: 24px;
  padding-right: 50px;
  font-weight: 300;
  margin-bottom: 10px;
}
.effect a {
  color: #d22856;
  text-decoration: underline;
  font-size: 14px;
  line-height: 24px;
}
.reviews {
  text-align: center;
  padding: 50px 0;
}
.reviews__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.reviews__title small {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
.reviews__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}
.pagination {
  text-align: center;
}
.pagination__control {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #bec2c7;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 6px;
  cursor: pointer;
}
.pagination__control.active {
  border: 3px solid #283645;
  background: white;
  margin-right: 4px;
  margin-left: 4px;
}
.box-content {
  background: url("/pink/img/main-top_bg_opacity-2.png") no-repeat 0 0;
  padding-top: 55px;
  padding-bottom: 50px;
}
.box-content__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 35px;
  /*    position: relative;
        
        left:-290px; */
}
.box-content__table th {
  width: 25%;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  padding: 20px 0;
  text-transform: uppercase;
  background: #283645;
}
.box-content__table th span {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
.box-content__table .box-content__th--top {
  background: url("/pink/img/main-table-icon-top.png") no-repeat 0 0 #283645;
}
.box-content__table th:first-child {
  visibility: hidden;
}
.box-content__table td {
  font-size: 14px;
  line-height: 30px;
  padding: 15px;
  border: 2px solid #e5e5e5;
  background: url('/pink/img/main-icon-yes.png') no-repeat 50% 50% white;
}
.box-content__table td span {
  display: none;
}
.box-content__table td:first-child {
  background: none;
}
.box-content__table .box-content__td--no-exist {
  background: url('/pink/img/main-icon-no.png') no-repeat 50% 50% white;
}
.box-content .pagination {
  display: none;
}
/*  старий кусок, робочий на 320
box-content {
    background: url("/pink/img/main-top_bg_opacity-2.png") no-repeat 0 0;
    padding-top: 55px;
    padding-bottom: 50px;
    overflow: hidden;
    &__table {
        border-collapse: collapse;
        width: 860px;
        margin-bottom: 35px;
        position: relative;
        left:-290px;
        th {
            width: 276px;
            border: 2px solid @table-border;
            font-size: @font-size-h2;
            line-height: @line-height-h2;
            font-weight: @font-bold;
            color: white;
            padding: 20px 0;
            text-transform: uppercase;
            background: @bg-darkblue;
            span {
                font-size: @font-size-label;
                font-weight: @font-light;
                line-height: @line-height-h2;
            }
        }
        .box-content__th--top{
            background: url("/pink/img/main-table-icon-top.png") no-repeat 0 0 @bg-darkblue;
        }
        td {
            font-size: @font-size-p;
            line-height: @line-height-h2;
            text-transform: uppercase;
            padding: 18px 20px;
            border: 2px solid @table-border;
            background: url('/pink/img/main-icon-yes.png') no-repeat 90% 50% white;
        }
        .box-content__td--no-exist {
            background: url('/pink/img/main-icon-no.png') no-repeat 90% 50% white;
        }
    }
} */
.page-footer {
  text-align: center;
}
.page-footer__contact {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 40px;
}
.page-footer__telephone,
.page-footer__email,
.page-footer__adress {
  width: 30%;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: top;
}
.page-footer__email {
  word-wrap: break-word;
  /* спірний момент */
}
.page-footer__adress {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.page-footer__telephone {
  margin-right: 14.2%;
}
.page-footer a {
  color: #d22856;
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.page-footer img {
  max-width: 100%;
  margin-left: -20px;
}
.page-footer img:nth-of-type(2) {
  display: none;
}
.page-footer .social {
  padding: 50px 0;
}
.page-footer .social__logo {
  display: block;
  float: left;
  width: 145px;
  height: 40px;
  background: url("/pink/img/Pink-logo-footer-2@1x.png") no-repeat 0 0;
  margin-left: 2.8%;
  /* 20  */
  margin-right: 10%;
  /* 70 */
}
.page-footer .social__buttons {
  float: left;
  margin-right: 4.3%;
  /* 30 */
}
.page-footer .social__buttons a {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid  #e9ebec;
  border-radius: 50%;
  margin-right: 8px;
  /* 8 */
}
.page-footer .social__buttons a:hover {
  border-color: #283645;
}
.page-footer .social__buttons .social_buttons--tw {
  background: url("/pink/img/footer-social-icon-tw.png") no-repeat 50% 50%;
}
.page-footer .social__buttons .social_buttons--fb {
  background: url("/pink/img/footer-social-icon-fb.png") no-repeat 50% 50%;
}
.page-footer .social__buttons .social_buttons--play {
  background: url("/pink/img/footer-social-icon-play.png") no-repeat 50% 50%;
}
.page-footer .social__developers {
  float: left;
}
.page-footer .social__developers a {
  display: inline-block;
  line-height: 50px;
  font-size: 14px;
  color: #283645;
  padding-right: 40px;
  margin-right: 10px;
}
.page-footer .social__developers .social__developers--aa {
  background: url("/pink/img/glukhanko.svg") no-repeat 95% 50%;
}
.page-footer .social__developers .social__developers--htmlacademy {
  background: url("/pink/img/htmlacademy.svg") no-repeat 95% 50%;
}
@media (max-width: 340px) {
  .page-header {
    background-image: url("/pink/img/main-bg_second-layer24.png"), url("/pink/img/main-bg-1.png");
    background-repeat: no-repeat no-repeat;
    background-position: 50% 173px, 50% 0;
    padding-bottom: 25px;
  }
  .page-header__menu {
    padding: 15px 0;
    background: url("/pink/img/main-top_bg_opacity.png") no-repeat 50% 0;
  }
  .page-header .logo {
    padding-left: 0px;
    background: none;
  }
  .page-header__left-column {
    width: auto;
    margin-top: 0;
  }
  .page-header__left-column .title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 365px;
    padding: 0;
  }
  main .inner > p:first-child,
  main .inner > p:nth-child(2) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  .features {
    text-align: center;
    margin-top: 80px;
  }
  .features__right-column {
    float: none;
    width: auto;
    margin-top: 0;
  }
  .features__left-column {
    width: auto;
    float: none;
    height: 280px;
    overflow: hidden;
  }
  .features__left-column .features__img_1 {
    display: none;
  }
  .features__left-column .features__img_2 {
    display: inline;
  }
  .effect {
    display: none;
  }
  .reviews__title small {
    display: none;
  }
  .box-content {
    overflow: hidden;
    /*  overflow: hidden; можливо треба додати в боді, можливо і зовсім не потрібно. Все одно за вьюпорт не вилізе, а слайдер буде працювати за рахунок переміщення position:relative */
  }
  .box-content__table {
    width: 860px;
    position: relative;
    left: -285px;
    /* -330px; */
  }
  .box-content__table th {
    width: 276px;
  }
  .box-content__table th:first-child {
    display: none;
  }
  .box-content__table td {
    text-transform: uppercase;
    padding: 18px 20px;
    background: url('/pink/img/main-icon-yes.png') no-repeat 90% 50% white;
  }
  .box-content__table td span {
    display: inline;
  }
  .box-content__table td:first-child {
    display: none;
  }
  .box-content__table .box-content__td--no-exist {
    background: url('/pink/img/main-icon-no.png') no-repeat 90% 50% white;
  }
  .box-content .pagination {
    display: block;
  }
  .page-footer__contact {
    font-size: 24px;
    line-height: 30px;
  }
  .page-footer__telephone,
  .page-footer__email,
  .page-footer__adress {
    display: block;
    width: 100%;
  }
  .page-footer img:nth-of-type(1) {
    display: none;
  }
  .page-footer img:nth-of-type(2) {
    display: inline;
  }
  .page-footer .social {
    display: none;
  }
}
@media (max-width: 675px) {
  .page-footer .social__logo {
    display: inline-block;
    width: 40%;
  }
  .page-footer .social__buttons {
    width: 40%;
    display: inline-block;
  }
  .page-footer .social__developers {
    margin-top: 20px;
    width: 100%;
    display: block;
  }
}
@media (max-width: 500px) {
  .page-footer {
    text-align: center;
  }
  .page-footer .social__logo {
    margin-left: -5px;
    background-position: 50% 0;
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 20px;
  }
  .page-footer .social__buttons {
    width: 100%;
    float: none;
    display: block;
  }
  .page-footer .social__developers {
    float: none;
    display: block;
  }
}
