@font-size-p: 14px;
@font-size-h2: 18px;
@font-size-h2-1200: 30px;
@font-size-label: 24px;
@font-size-700: 40px;
@font-size-1200: 50px;

@font-bold: bold;
@font-light: 300;

@line-height-st: 24px;
@line-height-h2: 30px;
@line-height-700: 50px;

@color-main: #283645;
@color-footer: #d22856;
@color-header: white;

@table-border: #e5e5e5;

@bg-darkblue: #283645;