body {
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.inner {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 2%; /* 0 20 */
/*     border: 1px solid red; */
}

main {
    padding: 45px 0;
    padding-bottom: 0;
}

.page-header {
    padding-bottom: 35px;
    &__left-column {
        width: 310px;
        margin-top: 90px;
    }
}

.features {
    margin-bottom: 100px;
    &__right-column {
        float: right;
        width: 50%; /* 350 */
        margin-top: 40px;
    }
    &__left-column {
        width: 38.5%; /* 270 */
        float: left;
        height: 460px;
        img {
            max-width: 100%;
        }
    }
}

.effect {
    &__left-column {
        float: left;
        width: 38.5%;
        height: auto;
        img {
            max-width: 100%;
        }
    }
    &__right-column {
        float:right;
        width: 50%; /* 310 */
    }
}


.page-footer {
    &__telephone,
    &__email {
        display: inline-block;
    }
}