.page-header {
//    background-image: 
//        url("/pink/img/main-bg_second-layer24.png"),
//        url("/pink/img/main-bg-1.png");
//    background-repeat: no-repeat no-repeat;
//    background-position: 50% 173px, 50% 0;
    background-image: url('/pink/img/main-bg-all-700.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #1d2631;
   /*  background-size: contain; */
    color: @color-header;
    padding-bottom: 100px;
    
    &__menu {
        padding: 40px 0;
        background: 
            url("/pink/img/main-top_bg700_opacity.png") no-repeat 50% 0;
    }
        a {
            display: block;
        }
        .logo {
            float:left;
            font-size: 32px;
            line-height: 40px;
            text-transform: uppercase;
            padding-left: 65px;
            background: url("/pink/img/glasses-simple@1x.png") no-repeat 0 0;
        }
        .logo~a {
            float:right;
            width: 50px;
            height: 4px;
            background-color: white;
            position: relative;
            margin-top: 3px;
        }
        .logo~a:after {
            content: '';
            width: 50px;
            height: 4px;
            background: white;
            position: absolute;
            top:10px; 
        }
        .logo~a:before {
            content: '';
            width: 50px;
            height: 4px;
            background-color: white;
            position: absolute;
            top:20px; 
        }
    
//    &__left-column{ /* це мало бути в гріді */
//        width: 310px;
//        margin-top: 90px;
//    }
    .title {
        padding: 0 35px; /* 35 */
        text-align: center;
        font-size: @font-size-700;
        line-height: @line-height-700;
        text-shadow: 1px 1px 0 @bg-darkblue;
//        font-size: @font-size-label;
//        line-height: 30px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 30px;
//        margin-bottom: 365px;
        min-height: 60px;
    }
    
    .btn {
        text-align: center;
        font-size: @font-size-h2;
        line-height: 18px;
        font-weight: bold;
        display: block;
        padding: 15px 35px;
        border: 3px solid white;
        border-radius: 30px;
        margin-bottom: 30px;
    }
    .support {
        text-align: center;
        margin-bottom: 25px;
    }
    .support img {
        margin-right: 35px;
    }
    .support img:last-child {
        margin-right: 0;
    }
    
    p {
        font-size: @font-size-p;
        font-weight: 300;
        line-height: @line-height-st;
        text-align: center;
//        padding-bottom: 35px;
    }
}

