.page-footer {
    text-align: center;
    &__contact{
        font-size: @font-size-1200;
        font-weight: @font-light;
        margin-bottom: 40px;
    }
    &__telephone,
    &__email,
    &__adress{
        width: 33%;
        margin-bottom: 30px;
        font-size: @font-size-h2;
        line-height: @line-height-st;
        font-weight: @font-bold;
        vertical-align: top;
    }
    &__email {
        word-wrap: break-word; /* спірний момент */
        a:hover {
            color: @bg-darkblue;
            text-decoration: underline; 
            transition: 0.2s all;
        }
        a:active {
            opacity: @opacity-active;
        }
    }
    &__adress{
        margin-bottom: 40px;
    }
    &__telephone {
     /*    margin-right: 14.2%; */
    }
    a {
        color: @color-footer;
        display: block;
        font-weight: @font-light;
        font-size: @font-size-label;
        line-height: @line-height-h2;
    }
    img {
        max-width: 100%;
    }
    img:nth-of-type(2) {
        display: none;
    }
    
    .social {
        text-align: center;
        padding: 50px 0;
        width: 100%;
        &__logo {
            width: 30%;
            display: block;
            float: left;
/*             width: 145px; */
            height: 40px;
            background: url("/Rep_test/img/Pink-logo-footer-2@1x.png") no-repeat 0 0;
            margin-right: 7%;    
            /*
            margin-left: 2.8%; /* 20  */
            /*
            margin-right: 10%; /* 70 */
        }
        &__logo:hover {
            background-image: url("/Rep_test/img/glasses-footer-hover@1x.png");
            transition: 0.3s all;
        }
        &__logo:active {
             opacity: @opacity-active;
        }
        &__buttons {
            width: 30%;
            float:left;
            text-align: center;
      /*      margin-right: 4.3%; /* 30 */
            a {
                display: inline-block;
                width: 45px;
                height: 45px;
                border: 3px solid  #e9ebec;
                border-radius: 50%;
                margin-right: 8px; /* 8 */
            }
            a:hover {
                border-color: @bg-darkblue;
                transition: 0.2s all;
            }
            a:active {
                border: 3px solid  #e9ebec;
                opacity: @opacity-active;
            }
            .social_buttons--tw{
                background: url("/Rep_test/img/footer-social-icon-tw.png") no-repeat 50% 50%;
            }
            .social_buttons--fb{
                background: url("/Rep_test/img/footer-social-icon-fb.png") no-repeat 50% 50%;
            }
            .social_buttons--play{
                background: url("/Rep_test/img/footer-social-icon-play.png") no-repeat 50% 50%;
            }
        }
        &__developers {
            width: 30%;
            float:right;
            text-align: right;
            a {
                display: inline-block;
                line-height: 50px;
                font-size: @font-size-p;
                color: @bg-darkblue;
                padding-right: 40px;
                margin-right: 10px;
            }
            a:active {
                opacity: @opacity-active;
            }
            .social__developers--aa {
                background: url("/Rep_test/img/glukhanko.svg") no-repeat 95% 50% ;
            }
            .social__developers--htmlacademy {
                background: url("/Rep_test/img/htmlacademy.svg") no-repeat 95% 50%;
            }
        }
    }
}